
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	font: inherit;
}

/* HTML5 compatibility for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* HTML5 compatibility for older browsers */

body {
	background:url(images/background.png);
}

.container {
	width: 800px;
	margin-top: 25px;
	margin-bottom: 50px;
	margin-left:auto;
	margin-right:auto;
}

header {
  	background: #2e7bcf;
  	padding: 20px;
}

header h1 {
  	font-size: 80px;
  	font-family: Segoe UI Light, sans-serif; 
	font-weight: 100;
	color: #fff;
}

header h2 {
  	font-size: 26px; 
  	font-family: Segoe UI Light, sans-serif; 
	font-weight: 100;
	color: #fff;
}

.content {
	padding-left: 20px;
	padding-top: 10px;
}

.content h1 {
	font-size: 36px;
	font-family: Segoe UI Light, sans-serif;
	font-weight: 100;
	color:#000;
	padding-top: 20px;
}

.content h2 {
	font-size: 24px;
	font-family: Segoe UI Light, sans-serif;
	font-weight: 100;
	color:#000;
	padding-top: 15px;
}

.app {
	padding-left: 20px;
}

.library {
	padding-left: 20px;
}

p {
	font-family: Segoe UI, Helvetica, sans-serif;
	font-size:16px;
}

article p {
	padding-top: 10px;
}

a, a:visited {
	color: inherit;
	text-decoration:none;
}

a:hover {
	color: #999F93;
}

a.button {
	width: 150px;
	height: 50px;
	padding: 15px;
	display: block;
	background: #2e7bcf;
	color: #fff;
	font-family: Segoe UI, Helvetica, sans-serif;
	font-size:16px;
	margin-right: 10px;
	float: left;
	position:relative:
}

.download-buttons {
	margin-top: 10px;
}

.clear {
	clear:both;
}
	
